@charset "ISO-8859-1";

img {
  width: 100%;
/*   border-radius: 100px; */
}

.input {
  display: flex;
/*   align-self: center; */
  max-width: 600px;
  width: 100%;
  border-radius: 3px;
  -webkit-transition: background .5s, box-shadow .5s; /* Safari */
  transition: background .5s, box-shadow .5s;
  background: rgba(100,100,100,.1);
}

.input:focus-within {
  outline: none;
  background: white;
  box-shadow: 0px 0px 1px 2px rgba(0,0,0,.2);
}

.images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
/*   align-items: center; */
  justify-content: center;
  margin: 10px 0;
}

.images {
  margin: 10px;
  box-shadow: 0px 0px 1px 2px rgba(0,0,0,.2);
  width: 150px !important;
  padding: 10px;
  cursor: pointer;
}