@charset "ISO-8859-1";

.topnav {
  overflow: hidden;
  /* background-color: #333; */
 /*  background: white; */
     background: #60269e;
    color: white;
}

.topnav a {
  float: left;
  display: block;
 /*  color: white; */
/*   color: #333; */
	color: inherit;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 1em;
}

.active {
/*   background-color: #4CAF50;
 */  background-color: #58b55b;
  color: white;
}

.topnav .topnav-icon {
  display: none;
  z-index: 5;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: inherit;
  padding: 10px 14px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
 	background: #764da2;
    color: inherit;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 6;
}

.dropdown-content a {
  float: none;
  color: inherit;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
  box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.1); 
}

.topnav a:hover, .dropdown:hover .dropbtn {
  /* background-color: #ccc; */
  background: rgb(117, 79, 173);	
  color: white;
}

.topnav .active:hover {
  background-color: #4f74af;
}

.topnav .topnav-right {
	float: right;
}

.dropdown-content a:hover {
 /*  background-color: #ddd; */
/*   background: rgb(117, 79, 173, 0.5);
  color: white; */
  background: white;
    color: #60269e;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.logo
{
    width: 200px;
    float: left;
}

@media all and (max-width: 600px) {
	
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.topnav-icon {
    float: right;
    display: block;
    line-height: 100%;
  }
  
  .topnav.responsive {position: relative;}
  .topnav.responsive .topnav-icon {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 100%;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  
  
.topnav .topnav-right  {
	float: unset;
	}
	
}

@media all and (max-width: 1000px)
{
		.logo
	{
		display: none;
	}
}

